.order-header-bg {
    background-color: var(--primary-accent);
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.order-header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
}

.order-header-text {
    margin-left: 10px;
    font-size: 20px;
}

.order-header-logo-img {
    height: 25px;
    width: 25px;
}

.order-header-back-btn {
    position: absolute;
    left: 25px;
}
